---
source: docker
container_name:
  - nginx
labels:
  type: nginx
---
filenames:
  - /var/log-host/syslog
labels:
  type: syslog
---
filenames:
  - /var/log-host/auth.log
labels:
  type: syslog
---
filenames:
  - /var/log-host/openvpn.log
labels:
  type: syslog
---
source: journalctl
journalctl_filter:
  - "_SYSTEMD_UNIT=vsftpd.service"
labels:
  type: journald