---
source: docker
container_name:
  - nginx
labels:
  type: nginx
---
filenames:
  - /var/log/syslog
{% if cs_install_type == 'docker' %}
polling: true
{% endif %}
labels:
  type: syslog
---
filenames:
  - /var/log/auth.log
{% if cs_install_type == 'docker' %}
polling: true
{% endif %}
labels:
  type: syslog
---
filenames:
  - /var/log/openvpn.log
{% if cs_install_type == 'docker' %}
polling: true
{% endif %}
labels:
  type: syslog
---
source: journalctl
journalctl_filter:
  - "_SYSTEMD_UNIT=vsftpd.service"
labels:
  type: journald