name: mywhitelists
description: "Whitelist events from my ip addresses"
whitelist:
  reason: "my ip ranges"
{% if cs_parsers_mywhitelists_ip|length > 0 %}
  ip:
{{ cs_parsers_mywhitelists_ip | to_nice_yaml | indent(4, True) }}
{% endif %}
{% if cs_parsers_mywhitelists_cidr|length > 0 %}
  cidr:
{{ cs_parsers_mywhitelists_cidr | to_nice_yaml | indent(4, True) }}
{% endif %}
